.App {
background:rgb(29, 28, 28);

}
*{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color:black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 300px;
}
li a:hover {
  background-color:grey;
}
#title{
  background: lightblue;
  padding: 10px;
  color:whitesmoke;
  text-align: center;
  font-size: xxx-large;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: rgb(255, 255, 255);
}

.wrapper {
  width: 1900px;
  position: relative;
  top: 60%;
  left: 30%;
  transform: translate(-30%, -0%);
  background-color: rgba(255, 252, 49, 0);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.637);
  overflow: hidden;
}

.player-0-panel,
.player-1-panel {
  width: 50%;
  float: left;
  height: 600px;
  padding: 100px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  color:yellowgreen
}

.player-score {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: rgb(77, 185, 235);
  margin-bottom: 130px;
}

.active { background-color: #76b5f011; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
  content: "\2022";
  font-size: 47px;
  position: absolute;
  color: rgb(21, 255, 0);
  top: -7px;
  right: 10px;
  
}

.player-current-box {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: rgb(93, 77, 235);
  color: #fff;
  margin: auto auto;
  padding: 50px;
  text-align: center;
}

.player-current-label {

  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 12px;
  color: rgb(255, 254, 254);
}

.player-current-score {
  font-size: 30px;
}

button {
  position: absolute;
  width: 300px;
  height: 60px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(58, 57, 57);
  background: whitesmoke;
  border: double;
  border-radius: 5vmin;
  border-color: rgb(0, 225, 255) ;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 20px; }

button:focus {
  outline: none;
}

i {
  color: #EB4D4D;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -4px;
  transition: margin 0.3s;
}


.btn-roll { top: 403px;}
.btn-hold { top: 467px;}

.dice, .dice1,.dice2,.dice3 {
  position: absolute;
  height: 100px;
  box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
  top: 190px;
}
.dice {
 left: 35%;
}
.dice1{
  left:40%
}
.dice2 {
  left: 55%;
}
.dice3{
  left: 60%;
}
.winner { background-color: #ffffff; }
.winner .player-name { font-weight: 300; color: rgb(30, 255, 0); }
.winningScore {
  position: absolute;
  top: 80px;
  left: 45%;
}











.message{
  grid-column-start: 1;
  grid-column-end: 5; 
}
.play{
  background-color: #4CAF50; 
  border:double solid thick;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}
.play:hover{
  background-color: rgb(151, 55, 39);
  color: azure;
}
.Footer{
  background:lightblue;
  text-align: center;
  margin-top: flex;
}








